# =========================
# Archivos y carpetas generales
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
*.ipr
*.iws
.idea/

# =========================
# VS Code (descomenta si no quieres subir configuraciones locales)
# =========================
#.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter_export_environment.sh
.pub-cache/
.pub/
build/

# =========================
# iOS
# =========================
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# =========================
# Android
# =========================
android/.gradle/
android/captures/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# =========================
# Archivos de símbolos / ofuscación
# =========================
app.*.symbols
app.*.map.json
